body {
  margin: 0px;
  /* background: linear-gradient(rgb(159, 73, 244), rgb(50, 184, 221))fixed; */
  background-image: url('C:\Users\Asus\OneDrive\Desktop\Synclovis\WebDev\React-Project\login-registration\public\image.jpg');
  background-size: cover;
}
a{
  color: aliceblue;
}
.card {
  /* width: 300px; */
  backdrop-filter: blur(5px); /* Apply the blur effect */
  background-color: rgba(230, 215, 215, 0.3);
  padding: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .card {
    width: 80%;
  }
}
